.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
node_modules/**
*.vsix
.github/**
.git/**
*.log
test/**
out/test/**
**/*.test.js
**/*.test.ts
.eslintrc.json